.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 48px;
  //margin-bottom: 60px;

  @media (min-width: $screen-md) {
    //justify-content: flex-start;
    margin-top: 64px;
  }

  // @media (min-width: $screen-xl) {
  //   //justify-content: flex-start;
  //   margin-top: 72px;
  // }

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  &__item {
    //margin-right: 0.5em;

    &:first-child {
      margin-right: 16px;
    }

    &:last-child {
      margin-left: 16px;
    }

    &.active {

      a {
        color: $text-color;
        background-color: $main-color;
        pointer-events: none;
      }
    }

    &--prev,
    &--next {

      #{$block-name}__link {
        background-size: 22px 8px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--prev {
      //margin-right: 20px;

      #{$block-name}__link {
        transform: scale(-1, 1);
        background-image: svg-load('../blocks/sprite-svg/svg/arrow-right.svg', fill=$text-color);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/sprite-svg/svg/arrow-right.svg', fill=$text-color);
        }

        &--disabled {
          background-image: svg-load('../blocks/sprite-svg/svg/arrow-right.svg', fill=$btn-bg--disabled);
        }
      }
    }

    &--next {
      //margin-left: 20px;

      #{$block-name}__link {
        background-image: svg-load('../blocks/sprite-svg/svg/arrow-right.svg', fill=$text-color);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/sprite-svg/svg/arrow-right.svg', fill=$text-color);
        }

        &--disabled {
          background-image: svg-load('../blocks/sprite-svg/svg/arrow-right.svg', fill=$btn-bg--disabled);
        }
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    color: $text-color;
    background-color: $white;
    border: 1px solid $main-color;
    border-radius: $border-radius;
    transition: all $transition-time;

    &:hover,
    &:focus {
      text-decoration: none;
      color: inherit;
      background-color: $white;
      border-width: 3px;
    }

    &--disabled,
    &:disabled {
      border-color: $btn-bg--disabled;
      pointer-events: none;
    }
  }
}
