$line-height:                 1.375em !default;
$text-color:                  hsl(0, 0%, 10%) !default;

.breadcrumbs {
  margin-top: 16px;
  margin-bottom: calc(32px - 8px);

  @media (min-width: $screen-md) {
    margin-top: 24px;
    margin-bottom: calc(56px - 8px);
  }

  @media (min-width: $screen-xl) {
    margin-bottom: calc(72px - 8px);
  }

  $block-name:                &;
  // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 8px;
    overflow: auto;
    //text-overflow: ellipsis;
  }


  &__item {
    display: inline-flex;
    align-items: center;
    //vertical-align: baseline;
    max-width: 100%;
    margin-right: 8px;
    //margin-bottom: 4px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }

    &:not(:last-child)::after {
      content: '●'; // U+276F, HTML-код &#10095; CSS-код  \276F - Прававя угловая скобка
      display: inline-block;
      margin-left: 8px;
      font-weight: inherit;
      color: $text-muted;
    }

    #{$block-name}__link {

      &[aria-current=page] {
        text-decoration: none;
        color: $text-muted;
      }
    }

  }

  &__link {
    max-width: 100%;
    font-size: $font-size;
    font-weight: 400;
    color: $link-color;
    //text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: $link-color--hover;
      //text-decoration: none;
    }
  }
}
