.error-404 {

  $block-name:                &; // #{$block-name}__element

  .row {
    gap: 64px 0;

    @media (min-width: $screen-md) {
      gap: 80px 0;
    }
  }

  &__col-text {
    @include col(xs, 12);
    @include col-offset(md, 2);
    @include col(md, 8, $grid-columns, 16px);
    @include col-offset(xl, 1);
    @include col(xl, 5, $grid-columns, 32px);
  }

  &__col-img {
    @include col-offset(xs, 1);
    @include col(xs, 10);
    @include col-offset(md, 2);
    @include col(md, 8, $grid-columns, 16px);
    @include col-offset(xl, 1);
    @include col(xl, 4, $grid-columns, 32px);
    display: flex;
    justify-content: center;

    @media (min-width: $screen-xl) {
      order: -1;
    }

    img {
      transform: scale(-1, 1);
      max-width: 382px;

      @media (max-width: $screen-xl - 1) {
        max-width: 285px;
      }
    }
  }

  &__text {
    max-width: 600px;
    margin: auto;

    @media (max-width: $screen-xl - 1) {
      text-align: center;
    }

    h1 {
      margin-bottom: 48px;
    }

    .h3 {
      margin-top: 0;
    }
  }

  &__info {
    font-size: $font-size-xl;
    hyphens: none;
  }
}
