.lang-switcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: $screen-md) {
    display: inline-flex;
    max-width: 90px;
    margin-left: 0;
  }

  $block-name:                &; // #{$block-name}__element

  &__item {
    display: flex;
    justify-content: center;
  }

  .dropdown-toggle {
    padding: 0 20px;
    color: $white;
    background-color: transparent;
    border-color: currentColor;

    &.show {
      background-color: rgba($white, 0.32) !important;
    }

    &:hover,
    &:focus {
      background-color: rgba($white, 0.16);
    }

    &::after {
      width: 18px;
      height: 18px;
      transform: rotate(90deg);
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: center;
      background-image: svg-load('../blocks/sprite-svg/svg/menu-right.svg', fill=$white);
      transition: all $transition-time;
      margin-left: 4px;
      border: none;
    }

    &[aria-expanded=true] {

      &::after {
        transform: rotate(-90deg);
      }
    }
  }

  .dropdown-menu {
    min-width: 96px;
    padding: 8px;
    color: $white;
    background-color: $secondary-color;
    border-radius: $border-radius;
    border: 2px solid $white;

    li + li {
      margin-top: 8px;
    }
  }

  .dropdown-item {
    display: flex;
    justify-content: center;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 500;
    padding: 0;
    text-align: center;
    color: inherit;

    &:hover,
    &:focus {
      //color: $main-color;

      span::before {
        width: 100%;
      }
    }

    span {
      position: relative;
      padding: 4px;
    }

    span::before {
      display: block;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0;
      background-color: $white;
      transition: width $transition-time;
    }
  }
}
