.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-flex;
  align-items: center;

  &__link {
    flex: 0 0 48px;
    display: inline-flex;
    align-items: center;

    @media (min-width: $screen-xl) {
      flex: 0 0 88px;
    }
  }

  &__img {
    width: 48px;
    height: 48px;

    @media (min-width: $screen-xl) {
      width: 88px;
      height: 88px;
    }
  }

  &__name,
  &__flash,
  &__slogan {
    display: none;
  }

  &__name,
  &__flash {

    @media (min-width: $screen-md) {
      display: inline-flex;
      align-items: center;
    }
  }

  &__name {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;

    @media (min-width: $screen-md) {
      margin-right: 16px;
      transform: translateY(-1px);
    }

    @media (min-width: $screen-xl) {
      font-size: 20px;
    }
  }

  &__flash {

    @media (min-width: $screen-xl) {
      display: none;
    }
  }

  &__slogan {
    flex: 1 1 auto;

    @media (min-width: $screen-xl) {
      display: block;
      margin-left: 16px;
    }
  }

  &--footer {
    margin-bottom: 16px;

    #{$block-name}__name {
      display: block;
      margin-right: 8px;

      @media (min-width: $screen-md) {
        margin-right: 16px;
      }
    }

    #{$block-name}__flash {

      @media (max-width: $screen-md - 1) {
        display: inline-flex;
      }

      @media (min-width: $screen-md) {
        display: none;
      }
    }

    #{$block-name}__slogan {

      @media (min-width: $screen-md) {
        display: block;
        margin-left: 16px;
      }
    }
  }
}
