.video-card {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  border-radius: $border-radius--md;

  img {
    object-fit: cover;
    object-position: center;
  }

  .ytb-btn {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    color: $white;
    background-color: transparent;
    background-size: 30px 34px;
    background-position: 58% 50%;
    background-repeat: no-repeat;
    background-image: svg-load('../blocks/video-card/bg-img/play-ytb.svg', fill=$white);
    border: 2px solid currentColor;
    border-radius: 50%;
    transition: all $transition-time ease;
  }

  &:hover,
  &:focus {

    .ytb-btn {
      border-color: $main-color;
      background-image: svg-load('../blocks/video-card/bg-img/play-ytb.svg', fill=$main-color);
    }
  }
}
